<p style="color: green"><%= notice %></p>

<%= render @training %>

<div>
  <% if can? :update, @training %>
  <%= link_to "Edit this training", edit_training_path(@training) %> |
  <% end %>
  <%= link_to "Back to trainings", trainings_path %>
<% if can? :destroy, @course %>
  <%= button_to "Destroy this training", @training, method: :delete %>
  <% end %>
</div>
