<p style="color: green"><%= notice %></p>

<%= render @course_module %>

<div>
  <%= link_to "Edit this course module", edit_course_module_path(@course_module) %> |
  <%= link_to "Back to course modules", course_modules_path %>

  <%= button_to "Destroy this course module", @course_module, method: :delete %>
</div>
